.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}
/*Change icons size here*/
.social-icons .fa {
  font-size: 1.3em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
  border-radius: 50%;
}
.social-icons .fa:hover, .social-icons .fa:active {
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-sh
  adow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333; 
}

.social-icons .fa-facebook{background-color:#3C599F;}  

.social-icons .fa-twitter{background-color:#32CCFE;}

.social-icons .fa-github{background-color:#070709;}

.social-icons .fa-google-plus{background-color:#CF3D2E;} 